<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>RED app myAssistant</display-name>
	<servlet>
		<servlet-name>redapp</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<!--  <param-value>ch.bfh.red.app.view.JpaAddressbookUI</param-value> -->
			<param-value>ch.bfh.red.app.view.RedAppUI</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>example</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>ch.bfh.red.app.view.JpaAddressbookUI</param-value> 
			<!--  <param-value>ch.bfh.red.app.view.RedAppBackendUI</param-value>-->
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>redapp</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>example</servlet-name>
		<url-pattern>/example/*</url-pattern>
	</servlet-mapping>
</web-app>
